.*
!.gitignore
/gnucash
/py3bindings
**/in/Monarch
**/out/
**/bak/
**/logs/
**/venv/
**/Downloads
**/test*/
**/json*/
**/copy*/
**/bin/
**/export*/
/dev-cw
*.py[cdo]
*.out
*.o
*.so
*.obj
*.bin
*.exe
*.x
*.txt
# find <dir/>* -type l >> .gitignore
Baseball
Chadwick*
event
regular
[Rr]etrosheet
cw-*
cwb-*
doc*s*
